# Child Mortality Estimates

In [1]:
import pandas as pd
import numpy as np

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [29]:
import re

def to_concept_id(s):
    '''convert a string to lowercase alphanumeric + underscore id for concepts'''
    s1 = re.sub(r'[/ -\.\*]+', '_', s).lower()
    
    if s1[-1] == '_':
        s1 = s1[:-1]
    
    return s1.strip()

In [5]:
data = pd.read_excel('./source/RatesDeaths_AllIndicators.xlsx', skiprows=6)

In [6]:
data.head()

,ISO Code,CountryName,Uncertainty bounds*,U5MR.1950,U5MR.1951,U5MR.1952,U5MR.1953,U5MR.1954,U5MR.1955,U5MR.1956,...,Neonatal.Deaths.2006,Neonatal.Deaths.2007,Neonatal.Deaths.2008,Neonatal.Deaths.2009,Neonatal.Deaths.2010,Neonatal.Deaths.2011,Neonatal.Deaths.2012,Neonatal.Deaths.2013,Neonatal.Deaths.2014,Neonatal.Deaths.2015
0,AFG,Afghanistan,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23880,23638,23216,22689,22179,21266,20273,19440,18629,17573
1,AFG,Afghanistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44007,43856,43469,42791,42311,41052,39588,38263,37038,36242
2,AFG,Afghanistan,Upper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65784,65663,65435,64608,63632,62498,61129,60190,58975,58900
3,AGO,Angola,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25458,25686,25732,25618,25578,25238,24632,23930,23544,23394
4,AGO,Angola,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49499,50458,50990,51640,52107,52434,52604,52860,53041,53164

In [8]:
c = data.columns[3:]

In [11]:
res = []

for i in c:
    s = i[:-5]
    if not s in res:
        res.append(s)

In [12]:
res

['U5MR', 'IMR', 'NMR', 'Under.five.Deaths', 'Infant.Deaths', 'Neonatal.Deaths']

In [30]:
concepts = []
concepts_name = []

for i in res:
    ns = [i + '.Lower', i+'.Median', i+'.Upper']
    concepts.append(to_concept_id(ns[0]))
    concepts.append(to_concept_id(ns[1]))
    concepts.append(to_concept_id(ns[2]))
    
    concepts_name.append(ns[0])
    concepts_name.append(ns[1])
    concepts_name.append(ns[2])

In [31]:
concepts

['u5mr_lower',
 'u5mr_median',
 'u5mr_upper',
 'imr_lower',
 'imr_median',
 'imr_upper',
 'nmr_lower',
 'nmr_median',
 'nmr_upper',
 'under_five_deaths_lower',
 'under_five_deaths_median',
 'under_five_deaths_upper',
 'infant_deaths_lower',
 'infant_deaths_median',
 'infant_deaths_upper',
 'neonatal_deaths_lower',
 'neonatal_deaths_median',
 'neonatal_deaths_upper']

In [18]:
concepts_continuous = pd.DataFrame([], columns=['concept', 'name', 'type'])

In [19]:
concepts_continuous['name'] = concepts_name

In [20]:
concepts_continuous['concept'] = concepts

In [21]:
concepts_continuous['type'] = 'measure'

In [22]:
concepts_continuous

                     concept                      name     type
0                 u5mr_lower                U5MR.Lower  measure
1                u5mr_median               U5MR.Median  measure
2                 u5mr_upper                U5MR.Upper  measure
3                  imr_lower                 IMR.Lower  measure
4                 imr_median                IMR.Median  measure
5                  imr_upper                 IMR.Upper  measure
6                  nmr_lower                 NMR.Lower  measure
7                 nmr_median                NMR.Median  measure
8                  nmr_upper                 NMR.Upper  measure
9    under_five_deaths_lower   Under.five.Deaths.Lower  measure
10  under_five_deaths_median  Under.five.Deaths.Median  measure
11   under_five_deaths_upper   Under.five.Deaths.Upper  measure
12       infant_deaths_lower       Infant.Deaths.Lower  measure
13      infant_deaths_median      Infant.Deaths.Median  measure
14       infant_deaths_upper       Infant.Deaths.Upper  measure
15     neonatal_deaths_lower     Neonatal.Deaths.Lower  measure
16    neonatal_deaths_median    Neonatal.Deaths.Median  measure
17     neonatal_deaths_upper     Neonatal.Deaths.Upper  measure

In [46]:
!mkdir output/

In [24]:
concepts_continuous.to_csv('output/ddf--concepts--continuous.csv')

In [27]:
concept_dis = data.columns[:3]

In [28]:
concept_dis

Index(['ISO Code', 'CountryName', 'Uncertainty bounds*'], dtype='object')

In [32]:
concept_dis_df = pd.DataFrame([], columns=['concept', 'name', 'type'])

In [34]:
concept_dis_df['name'] = concept_dis

In [35]:
concept_dis_df['concept'] = concept_dis_df['name'].apply(to_concept_id)

In [38]:
concept_dis_df['type'] = "string"

In [41]:
concept_dis_df = concept_dis_df.append(pd.DataFrame([['country', 'Country', 'entity_domain']], index=[0], columns=concept_dis_df.columns))

In [43]:
concept_dis_df = concept_dis_df.append(pd.DataFrame([['year', 'Year', 'time']], index=[0], columns=concept_dis_df.columns))

In [44]:
concept_dis_df

              concept                 name           type
0            iso_code             ISO Code         string
1         countryname          CountryName         string
2  uncertainty_bounds  Uncertainty bounds*         string
0             country              Country  entity_domain
0                year                 Year           time

In [45]:
concept_dis_df.to_csv('output/ddf--concepts--discrete.csv')